.ui-table th .ui-column-filter {
    float: right !important;
}

.btn-link {
    background-color: transparent;
    border: none;
    color: inherit;
    text-decoration: underline;
}

.burial-popup-scale {
    width: 800px !important;
}
